body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 85%;
  padding: 10px;
  border: none;
  border-left: 1px solid black;
  background: transparent;
  color: #000000;
  resize: none;
}

.jumbotron {
  border-bottom: 10px solid black;
  border-radius: 0;
  background-color: transparent;
  color: black;
  text-align: center;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  text-align: center;
}

.row {
  width: 90%;
  height: 80px;
  margin-top: 1.4rem;
  border-top: 1px solid white;
  white-space: pre-wrap;
}

.hour {
  width: 7%;
  padding: 1rem 1rem 0 0;
  border-top: 1px dashed #000000;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: right;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

button {
  all: unset;
}

.saveBtn {
  width: 7%;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
